# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================
venv/
.venv/
env/
ENV/

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# IDE Settings
# ==========================================
.vscode/
.idea/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Streamlit Secrets
# ==========================================
.streamlit/secrets.toml

# ==========================================
# Build & Distribution
# ==========================================
build/
dist/
*.egg-info/
pip-wheel-metadata/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Operating System Files
# ==========================================
.DS_Store
Thumbs.db
Desktop.ini

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp
creditcard.xls